[Desktop Entry]
Encoding=UTF-8
Name=Concierge
Comment=Concierge P2P Cryptocurrency
Comment[fr]=Concierge, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Concierge, eşten eşe kriptografik sanal para birimi
Exec=concierge-qt %u
Terminal=false
Type=Application
Icon=concierge128
MimeType=x-scheme-handler/concierge;
Categories=Office;Finance;
